body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

header {
  background: #004aad;
  color: white;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #004aad;
  padding-left: 10px;
}

section {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

.forms {
  display: flex;
  gap: 20px;
}

.form-box {
  background: #e6e6e6;
  padding: 15px;
  width: 45%;
  border-radius: 5px;
}

input, textarea, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

button {
  background: #004aad;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  background: #004aad;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
.logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}
